*{
    background-color: #282c34;
}
p{
    background-color: transparent;
}
.App {
  text-align: center;
}
.docs{
    background-color: transparent;
    padding-left:-12px;
}
.Body {
    display: flex;
    background-color: #282c34;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo1 {
    height: 50vmin;
    pointer-events: none;
  }

.buttonStarted{
    height: 80px;
    width: 14vw;
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    margin:auto;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}
.login{
    margin-top: 15vh;
}
.messageIO{
    transition: 0.3s ease-in-out;
    margin-top:16vh;
    background: transparent;
}
.buttonStarted:hover{
    height: 80px;
    width: 15vw;
    
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    background-color: #61dafb;
    color:black;
    transition: 0.3s ease-in-out;
}
.test{
    margin:2vw;
    margin-top:18vh;
}
.box11{
    width:40vw;
}

.headLine{
    font-size:25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Body1 {
    background-color: #282c34;
    padding-left:180px;
    color: white;
    margin-top:-22px;
    height:230vh;
  }
  .codeStruct{
    margin:auto;
    padding:auto;
    margin-left: 10%;
    width:37vw;
    font-size: 13px;
    margin-right:250px;
    font-style: bold;
    color:#ffffffe0;
    background-color: #454545;
    border:2px solid rgb(253, 134, 118);
}
.code{
    background-color: transparent;
}
.label{
    background:transparent;
    font-size:20px;
}
.code{
    color:rgb(244, 93, 93);
}
.codeStruct1{
    margin:auto;
    padding:auto;
    width:37vw;
    margin-left: 10%;
    margin-right:250px;
    font-size: 13px;
    color:#ffffffe0;
    background-color: #454545;
    border:2px solid rgb(253, 134, 118);
    
}
.inputbox{
    height:80px;
    margin-top:20px;
    width:20.5vw;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid #61dafb;
    transition: 0.3s ease-in-out;
}
.inputbox:focus{
    height:80px;
    width:420px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid #64d87d;
    transition: 0.3s ease-in-out;
}
.inputbox:hover{
    height:80px;
    width:420px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid #61aefb;
    outline: none;
    transition: 0.3s ease-in-out;
}


.card1{
    height:400px;
    width:22vw;
    padding:10px;
    display:flex;
    margin-left:0px;
    flex-direction: column;
    background-color: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.3s ease-in-out;
}
.formik{
    background: transparent;
}

.card1:hover{
    height:400px;
    width:22vw;
    padding:10px;
    display:flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(16, 241, 226, 0.567);
    transition: 0.3s ease-in-out;
}

.button{
    width:160px;
    height:50px;
    margin-top: 15px;
    margin-left: 32%;
    font-size:15px;
    background-color: #61aefb;
    border-radius: 10px;
    color:white;
    border:0px solid blue;
    transition: 0.3s ease-in-out;
    outline:none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.button:hover{
    width:160px;
    height:50px;
    margin-top: 15px;
    margin-left: 32%;
    font-size:15px;
    background-color: #61fbca;
    border-radius: 10px;
    color:black;
    transition: 0.3s ease-in-out;
    outline:none;
}
.button:after {
    content: "";
    background-color: #ffffff;
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-top: 10%;
    padding-left: 35%;
    margin-left: -1%;
    margin-top: -7%;
    opacity: 0;
    transition: all .5s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

.sidebar{
    height:100vh;
    width:11vw;
    float:left;
    margin-top:4%;
    margin-left:-60px;
    background-color: #282c34;
    position:fixed;
    padding-left:-180px;
}
.sidebarIcons{
    list-style: none;
    border:5px solid black;
    border-radius: 20px;
    padding:20px;
    height:20px;
    width:20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color:white;
    margin:30px;

    transition: 0.3s ease-in-out;
}
.sidebarIcons:hover{
    list-style: none;
    height:20px;
    width:20px;
    border-radius: 5px;
    border:5px solid rgb(245, 245, 245);
    padding:20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color:rgb(7, 191, 247);
    
    margin-top:30px;
    transition: 0.3s ease-in-out;
}

.container1{
    margin-left:30px;
    width:80vw;
    display:flex;
    flex-direction: row;
    background-color: #282c34;
}
.box1{
    margin-right:80%;
    height:400px;
    width:500px;
}
.box2{
    margin-left:10%;
    height:400px;
    width:800px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 787px) {
    .container1{
        display:flex;
        flex-direction: column-reverse;
    }
    .Body{
        margin-top:15vh;
        flex-direction: column;
    }
    .test{
        margin-top:0vh;
    }
    .buttonStarted{
        height: 80px;
        width: 34vw;
        font-size: 1.5rem;
        border-radius: 30px;
        border: none;
        margin:auto;
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
    }
    .buttonStarted:hover{
        height: 80px;
        width: 34vw;
        font-size: 1.5rem;
        border-radius: 30px;
        border: none;
        background-color: #61dafb;
        color:black;
        transition: 0.3s ease-in-out;
    }
    .card1{
        width:75vw;
        margin-left:8%;
    }
    .inputbox{
        width: 70vw;
     
    }
    .card1:hover{
        width:75vw;
        margin-left:8%;
    }
    .inputbox:hover{
        width: 70vw;
     
    }
  }