*{
    background-color: #282c34;
}
p{
    background-color: transparent;
}
/* done */
.App {
  text-align: center;
}

/* done */
.Body {
    display: flex;
    background-color: #282c34;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo1 {
    height: 50vmin;
    pointer-events: none;
  }


.headLine{
    font-size:25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label{
    background:transparent;
    font-size:20px;
}
.inputbox{
    height:80px;
    margin-top:20px;
    width:30vw;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid #61dafb;
    transition: 0.3s ease-in-out;
}
.inputbox:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #64d87d;
    transition: 0.3s ease-in-out;
}
.inputbox:hover{
    border: none;
    border-bottom: 2px solid #61aefb;
    outline: none;
    transition: 0.3s ease-in-out;
}
.card1{
    height:400px;
    width:32vw;
    padding:10px;
    display:flex;
    margin-left:0px;
    flex-direction: column;
    background-color: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.3s ease-in-out;
}
.card1:hover{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(16, 241, 226, 0.567);
    transition: 0.3s ease-in-out;
}
.formik{
    background: transparent;
}

.button{
    width:160px;
    height:50px;
    margin-top: 15px;
    font-size:15px;
    margin-left:9vw;
    background-color: #61aefb;
    border-radius: 10px;
    color:white;
    border:0px solid blue;
    transition: 0.3s ease-in-out;
    outline:none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.button:hover{
    background-color: #61fbca;
    border-radius: 10px;
    color:black;
    transition: 0.3s ease-in-out;
    outline:none;
}
.button:after {
    content: "";
    background-color: #ffffff;
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-top: 10%;
    padding-left: 35%;
    margin-left: -1%;
    margin-top: -7%;
    opacity: 0;
    transition: all .5s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

.sidebar{
    height:100vh;
    width:11vw;
    float:left;
    margin-top:4%;
    margin-left:-60px;
    background-color: #282c34;
    position:fixed;
    padding-left:-180px;
}
.sidebarIcons{
    list-style: none;
    border:5px solid black;
    border-radius: 20px;
    padding:20px;
    height:20px;
    width:20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color:white;
    margin:30px;
    transition: 0.3s ease-in-out;
}
.sidebarIcons:hover{
    border-radius: 5px;
    border:5px solid rgb(245, 245, 245);
    color:rgb(7, 191, 247);
    transition: 0.3s ease-in-out;
}
.container1{
    margin-left:30px;
    width:80vw;
    display:flex;
    flex-direction: row;
    background-color: #282c34;
}
.box1{
    margin-right:80%;
    height:400px;
    width:500px;
}
.box2{
    margin-left:10%;
    height:400px;
    width:800px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 787px) {
    .container1{
        display:flex;
        flex-direction: column-reverse;
    }

    .test{
        margin-top:0vh;
    }

    .button{
        margin-left:20vw;
    }
    .card1{
        width:75vw;
        margin-left:8%;
    }
    .card1:hover{
        width:75vw;
        margin-left:8%;
    }
    .inputbox{
        width: 70vw;
    }
    .inputbox:hover{
        width: 70vw;
    }
  }